## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## HG
.hg/*
.hgignore

## EMACS
*~
\#*
.\#*

## VIM
*.swp
.vimrc

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
doc/*
.yardoc
tmp/*
.rvmrc
